<!-- Nagłówek -->
<app-navbar title="Najlepsze Cytaty"></app-navbar>
<!-- koniec nagłówka -->

<div class="container q-container">
  <!--Dodawanie cytatu-->
<app-add-quote></app-add-quote>
  <!-- Koniec dodawania cytatu -->

  <div class="row">
    <!-- Lista cytatów -->
  <app-quotes></app-quotes>
    <!-- Koniec lista cytatów -->

    <!-- Sekcja rankigów -->
    <div class="col s4">
  <app-ranking [quotes]="bestQuotes()" title="Najlepsze"></app-ranking>
  <app-ranking [quotes]="worstQuotes()" title="Najgorsze"></app-ranking>

    </div>
    <!-- Sekcja rankigów -->
  </div>
</div>
